body {
    background-color: black;
}
header {
    display: flex;
    justify-content: space-around;
    background-color: rgba(0,0,0,0.7);
    opacity: 70%;
}

.logo {
    display: block;
    color: white;
}

nav {
    display: inline-block;
    background-color: yellow;
    color: black;
    width: 150px;
    text-align: center;
}

nav:hover {
    text-decoration: underline;
}

main {
    position: relative;
    display: flex;
    justify-content: flex-start;
}

img {
    display: block;
    overflow: auto;
}

aside {
    position: sticky;
    display: inline-block;
    background-color: yellow;
    color: black;
    width: 250px; 
}

article {
    position: relative;
    left: 10px;
    background-color: black;
    color: white;
}

footer {
    position: fixed;
    top: 700px;
    height: 60px; width: 1600px;
    background-color: grey;
    display: block;
    border: 60px;
}

@media screen and (max-width: 600px){
    header {
        flex-direction: column;
    }

    nav {
        display: block;
        width: 600px;
        overflow: auto;
    }
    main {
        flex-direction: column;
    }
}