.menu {
  display: flex;
  justify-content: flex-start;
}

.home {
  background-color: blue;
  color: white;
}

.about {
  background-color: yellow;
  color: blue;
}

.contact {
  background-color: black;
  color: white;
}