.a {
    position: relative;
    background-color: grey;
    display: flex;
    justify-content: start;
    height:1000px;
    padding:20px;
    box-sizing:border-box;
}

.b {
    background-color: red;
    display: flex;
    align-items: flex-end;
    height: 0px;
    padding: 50px;
    }

.target {
    position: absolute;
}