.a {
    position: absolute;
    background-color: yellow;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    height:100px;
    padding:20px;
    box-sizing:border-box;
}

.b {
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    height:100px;
    padding:140px;
    }

.target {
    position: absolute;
}