body {
    font-family: sans-serif;
    background-color: rgb(155, 154, 154);
    text-align: center;
    padding: 40px;
}

h1 {
    margin-bottom: 30px;
} 

.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card-wrapper {
    perspective: 1000px;
}

.card {
    width: 150px;
    height: 200px;
    position: relative;
    transition: transform 0.6s ease-in-out; /*여기에 transition을 주는구나...!*/
    transform-style: preserve-3d;
    cursor: pointer;
    border-color: black;
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.card-front {
    background: skyblue;
}

.card-back {
    background: pink;
    transform: rotateY(180deg);
}

.card-wrapper input[type="checkbox"] {
    display: none;
}

.card-wrapper label {
    display: block;
    width: 150px;
    height: 200px;
}
/*이거 신기방기*/
.card-wrapper input:checked + label .card {
    transform: rotateY(180deg);
}

.card:hover {
    transform-origin: top left;
}